<h1>Post a tweet size message to the board!</h1>
<form action="/new" method="post">
  <p>Message:</p>
  <textarea name="message"></textarea>
  <p>Your name:</p>
  <p><input name="author" type="text" value=""/></p>
  <br>
  <input type="submit" value="Create new message">
</form>
<br>
<br>
<a href='/messages'>View all messages</a>
